@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #0C1948;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.summary-modal {
    background-color: #D0B89D;
    min-width: 350px;
    height: 80%;
    padding: 1rem;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.news-content figcaption{
    font-size: 10px;
    margin-left: 8px;
}
.news-content figure {
    margin-bottom: 8px;
}
.news-content {
}
.news-content img {
    max-width: 100%;
    margin-bottom: 4px;
}
.news-content p {
    display: none;
}
.news-content p:nth-of-type(1) {
    display: block;
    font-size: 12px;
    line-height: 1.625;
}
.page-content {
    display: flex;
}
.news-content aside {
    display: none;
}

.link-modal {
    background-color: #091235;
    height: 40vh;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media screen and (min-width: 768px) {
    .page-content img {
        max-width: 300px;
    }
    .page-content figure {
        min-width: 300px;
        margin-right: 8px;
    }
 
}

/* @media screen and (max-width: 500px) {
    .news-content p:nth-of-type(1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
} */